
APP_MODE="local_dev"
AUTH_SECRET_KEY="my-secret_key"

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_NAME=yuno
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5433/yuno?sslmode=disable

AWS_REGION="ap-northeast-1"

AI_API_URL=http://localhost:8000

# s3, local, minio
STORAGE_TYPE="minio"

# STORAGE_TYPE이 local인 경우 필요
STORAGE_ROOT_DIR=images

# STORAGE_TYPE이 s3인 경우 필요
STORAGE_BUCKET=my-bucket

# STORAGE_TYPE이 s3이고 모드가 local_dev일경우
S3_ENDPOINT=http://minio:9000


STORAGE_URL=http://localhost:9000/my-bucket
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=password