
APP_ENV="local"
APP_URL=http://localhost:5155
API_URL=http://localhost:1323

AUTH_SECRET_KEY="my-secret_key"

DATABASE_URL=postgres://postgres:postgres@postgres:5433/yuno?sslmode=disable
LINE_CHANNEL_ID=1234567890
LINE_CHANNEL_SECRET=1234567890

KAKAO_CLIENT_ID=1234567890
KAKAO_CLIENT_SECRET=1234567890

AWS_REGION="ap-northeast-1"
MEDIA_BUCKET_NAME=my-bucket
MEDIA_URL=http://localhost:9001/my-bucket

# s3, local, minio default: s3
STORAGE_TYPE="minio"

STORAGE_SERVICE_HOST=http://localhost:9001