
APP_MODE="local_dev"
AUTH_SECRET_KEY="my-secret_key"

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=yuno
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# s3, local
STORAGE_TYPE="local"